<!-- views/pages/index.ejs -->
​
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
</head>
<body>
<div id="topHeader">
    <h1>The place for inspiring new products, everyday!</h1>
    <h3>Share, rent and exchange your passion!</h3>
</div>
<div id="formlogin">
    <form action="http://139.59.128.218:12576/login" method="POST">
        <div class="form-style-8">
            <h2> Login </h2>
            <input name="email" type="text" placeholder="E-mail"/>
            <input name="password" type="password" placeholder="Password" />
            <input type="submit" value="LOGIN" />
        </div>
    </form>
</div>
<!-- <a class="centerMe" href="#"> <img width:"900px" style="margin:0 auto" src="https://d106kdhqpps9un.cloudfront.net/assets/facebook-connect-button-390x60-9d058c556344123297a221621cb4220e.png" /> </a> -->
<video autoplay muted loop id="promoter"> <source src="css/video.mp4" type="video/mp4"> </video>
</body>
</html>